<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloServiceWCF" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloServiceWCF">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloServiceWCF/HelloServiceWCF"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloServiceWCF"
                contract="HelloService.IHelloServiceWCF" name="BasicHttpBinding_IHelloServiceWCF" />
            <endpoint address="net.tcp://localhost:8081/HelloServiceWCF/HelloServiceWCF"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloServiceWCF"
                contract="HelloService.IHelloServiceWCF" name="NetTcpBinding_IHelloServiceWCF">
                <identity>
                    <userPrincipalName value="DESKTOP-I1RRBQ6\fjhua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>