<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <connectionStrings>
        <add name="DBCS"
             connectionString="data source=.;Integrated Security=SSPI;database=Northwind"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <services>
            <service name="EmployeeService.EmployeeServiceWCF" behaviorConfiguration="mexBehaviour">
                <endpoint address="EmployeeServiceWCF"                          
                          binding="basicHttpBinding"
                          contract="EmployeeService.IEmployeeServiceWCF" />
                <!--<endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />-->
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8080/EmployeeService"/>
                </baseAddresses>
              </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
      </system.serviceModel>
</configuration>